<h1>{{title}}</h1>
<button (click)="loadTestData();" class="btn btn-default">Load Test Data</button>
<h2>Songs</h2>

<ul *ngIf="songs && songs.length">
  <li *ngFor="let song of songs">
    <!--{{song.name}} - {{song.artist}} {{song.getDuration()}} added by {{song.teamMember}}-->
    <app-song [song]="song" (updated)="onUpdated($event, song)" (deleted)="onDeleted($event)"></app-song>
  </li>
</ul>

<button id="btnAdd" (click)="addSong()" *ngIf="!adding"><i class="fa fa-plus"></i> Add Song</button>
<app-song-edit id="frmAdd" *ngIf="adding" (cancelled)="onCancelAdd()" (saved)="onSave($event)"></app-song-edit>


