<div class="container">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/orica_logo.png" class="d-inline-block align-top" height="30px" alt=""> {{title}}
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" routerLink="/requirements" routerLinkActive="active">Requirements</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/song-entry" routerLinkActive="active">Song Entry</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/song-lists" routerLinkActive="active">Song Lists</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
